# ignora tutte le cartelle "node_modules" delle dipendenze installate da npm
node_modules/ 
package-lock.json  

# ignora tuti i file .env con le variabili ambiente
.env
.env.local
.env.*.local           

# ignora tutti i  file di log
*.log          
*.log.*
logs/           
*.gz

# ignora i file di build del frontend generati da Vite
dist/
build/
.vite/
 
# ignora i file nascosti generati da macOS       
.DS_Store   
._*    
